---
layout: 'lesson-plan'
title: 'Async Programming'
url: '/tutorials/async'
order: 3
---

p Managing asynchronous operations is a necessity when working in JavaScript, and it can be messy business, especially when it comes to error handling.
p This lesson covers asynchronous error handling pitfalls, and shows how promises can provide familiar synchronous programming patterns for asynchronous operations.
