---
projects:
  cola:
    latest:
      refspec: dev
    releases:
    npm: false
    bower: cola
    docs: https://github.com/cujojs/cola/tree/{refspec}/doc
  cram:
    latest:
      refspec: dev
    releases:
    npm: cram
    bower: false
    docs: https://github.com/cujojs/cram/tree/{refspec}/docs/TOC.md
  curl:
    latest:
      refspec: dev
    releases:
      '0.7':
        refspec: 0.7.3
      '0.6':
        refspec: 0.6.8
    npm: false
    bower: curl
    docs: https://github.com/cujojs/curl/wiki
  meld:
    latest:
      refspec: dev
    releases:
      '1.3':
        refspec: 1.3.0
      '1.2':
        refspec: 1.2.0
    npm: meld
    bower: meld
    docs: https://github.com/cujojs/meld/tree/{refspec}/docs/TOC.md
  msgs:
    latest:
      refspec: dev
    releases:
      '0.3':
        refspec: v0.3.2
    npm: msgs
    bower: msgs
    docs: https://github.com/cujojs/msgs/blob/{refspec}/README.md
  poly:
    latest:
      refspec: dev
    releases:
      '0.5':
        refspec: 0.5.1
      '0.4':
        refspec: 0.4
    npm: false
    bower: poly
    docs: https://github.com/cujojs/poly/blob/{refspec}/README.md
  rest:
    latest:
      refspec: dev
    releases:
      '0.9':
        refspec: v0.9.0
      '0.8':
        refspec: v0.8.4
        docs: https://github.com/cujojs/rest/tree/{refspec}/README.md
    npm: rest
    bower: rest
    docs: https://github.com/cujojs/rest/tree/{refspec}/docs/README.md
  when:
    latest:
      refspec: dev
    releases:
      '2.0':
        refspec: 2.0.1
      '1.8':
        refspec: 1.8.1
    npm: when
    bower: when
    docs: https://github.com/cujojs/when/tree/{refspec}/docs
  wire:
    latest:
      refspec: dev
    releases:
      '0.9':
        refspec: 0.9.3
      '0.8':
        refspec: 0.8.2
        docs: https://github.com/cujojs/wire/tree/{refspec}/README.md
    npm: wire
    bower: wire
    docs: https://github.com/cujojs/wire/tree/{refspec}/docs/TOC.md
---

Only used for metadata
