---
projects:
  cola:
    latest:
      refspec: dev
    releases:
      '0.1':
        refspec: 0.1.7
    npm: false
    bower: cola
    org: cujojs
    docs: https://github.com/cujojs/cola/tree/{refspec}/doc
    tagline: Extensible, two-way data binding.
  cram:
    latest:
      refspec: dev
    releases:
      '0.8':
        refspec: 0.8.2
      '0.7':
        refspec: 0.7.12
    npm: cram
    npmCmd: npm install --global
    bower: false
    org: cujojs
    docs: https://github.com/cujojs/cram/tree/{refspec}/docs/README.md
    tagline: Simple, yet powerful, AMD and CommonJS module bundler.
  curl:
    latest:
      refspec: dev
    releases:
      '0.8':
        refspec: 0.8.10
      '0.7':
        refspec: 0.7.6
    npm: curl-amd
    bower: curl
    org: cujojs
    docs: https://github.com/cujojs/curl/tree/{refspec}/README.md
    tagline: curl.js is small, fast, extensible module loader that handles AMD, CommonJS Modules/1.1, CSS, HTML/text, and legacy scripts.
  jiff:
    latest:
      refspec: dev
    releases:
      '0.4':
        refspec: 0.4.2
    npm: jiff
    bower: jiff
    org: cujojs
    docs: https://github.com/cujojs/jiff/tree/{refspec}/README.md
    tagline: JSON Patch and diff based on rfc6902.
  meld:
    latest:
      refspec: dev
    releases:
      '1.3':
        refspec: 1.3.1
      '1.2':
        refspec: 1.2.2
    npm: meld
    bower: meld
    org: cujojs
    docs: https://github.com/cujojs/meld/tree/{refspec}/docs/TOC.md
    tagline: AOP for JS with before, around, on, afterReturning, afterThrowing, after advice, and pointcuts.
  msgs:
    latest:
      refspec: dev
    releases:
      '0.4':
        refspec: v0.4.0
      '0.3':
        refspec: v0.3.3
    npm: msgs
    bower: msgs
    org: cujojs
    docs: https://github.com/cujojs/msgs/blob/{refspec}/README.md
    tagline: Message oriented programming.
  poly:
    latest:
      refspec: dev
    releases:
      '0.6':
        refspec: 0.6.0
      '0.5':
        refspec: 0.5.2
    npm: false
    bower: poly
    org: cujojs
    docs: https://github.com/cujojs/poly/blob/{refspec}/README.md
    tagline: Small, fast, awesome. The only ES5-ish set of polyfills (shims) you can mix-and-match because they're individual modules.
  rest:
    latest:
      refspec: dev
    releases:
      '1.1':
        refspec: v1.1.0
      '1.0':
        refspec: v1.0.3
    npm: rest
    bower: rest
    org: cujojs
    docs: https://github.com/cujojs/rest/tree/{refspec}/docs/README.md
    tagline: RESTful HTTP client for JavaScript.
  when:
    latest:
      refspec: dev
    releases:
      '3.1':
        refspec: 3.1.0
      '3.0':
        refspec: 3.0.1
      '2.8':
        refspec: 2.8.0
    npm: when
    bower: when
    org: cujojs
    docs: https://github.com/cujojs/when/tree/{refspec}/docs
    tagline: A solid, fast Promises/A+ and when() implementation, plus other async goodies.
  wire:
    latest:
      refspec: dev
    releases:
      '0.10':
        refspec: 0.10.7
      '0.9':
        refspec: 0.9.4
        docs: https://github.com/cujojs/wire/tree/{refspec}/docs/TOC.md
    npm: wire
    bower: wire
    org: cujojs
    docs: https://github.com/cujojs/wire/tree/{refspec}/docs/README.md
    tagline: A light, fast, flexible Javascript IOC container.
---

Only used for metadata
