---
layout: 'lesson-plan'
title: 'Learning Promises'
url: '/tutorials/promises'
order: 2
---

p JavaScript is fundamentally asynchronous.
  | Managing the asynchrony can range from annoying to maddening.
  | Promises provide a common abstraction for managing the values returned from asynchronous functions.
  | These tutorials cover the basics of consuming and creating promises.
