---
layout: 'lesson-plan'
title: 'Learning Promises'
url: '/tutorials/promises'
---

p JavaScript is fundamentally asynchronous, managing the asynchrony can range from annoying to maddening.
  | Promises provide a common abstraction to manage the values returned from async functions.
p This lesson covers the basics of consuming and creating promises.
