// helpers

animation-duration(duration)
  -webkit-animation-duration duration
  animation-duration duration

animation-name(name)
  -webkit-animation-name name
  animation-duration name

// END helpers

a, a:link
  cursor pointer

p
  line-height 1.6em
  color #222

h1, h2, h3, h4, h5, h6
  color #222
  font-weight 200
  letter-spacing 1px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.navbar .nav > li > a,
.navbar a.brand
  color #111
  transition text-shadow .25s ease

.navbar .nav > li > a:hover,
.navbar a.brand:hover
  text-shadow 0px 1px 0 #fff, 0 0 8px #ccc

.navbar .nav > li > a
  font-size 16px
  padding-left 1em
  padding-right 1em
  font-weight 300

footer
  padding-bottom: 30px

section footer
  padding-bottom: 0

#content
  margin-top 2em

.hero-unit
  background-color #333
  background-image url(texture.png)
  color #eee !important
  border 2px solid #666

.hero-unit h1
  font-size 6em
  font-weight bold

.hero-unit .cujo
  color #eee
  text-shadow #06f 0 0 20px

.hero-unit .js
  color #666

.hero-unit p
  font-size 2em
  line-height 1.2em
  margin-top 0.2em

nav.linklist p
  margin 0

footer .copyright
  font-size 12px

footer .last-update
  font-style italic
  font-size 12px
  margin-top 10px

.social-buttons
  position absolute
  top 0
  left 100%
  margin-left 1em
  animation-duration(3s)
  animation-name(slowfadein)

article.tutorial
  position relative
  max-width 640px
  margin-left auto
  margin-right auto

article.tutorial .published
  float right
  text-align right
  font-size 12px

article.tutorial .published .date
  font-style italic

nav.tags ul
  display inline
  list-style none
  margin 0

nav.tags ul li
  display inline

nav.tags ul li:after
  content ', '

nav.tags ul li:last-child:after
  content ''

aside.lesson-plan
  float right
  max-width 40%
  margin-left 0.5em
  margin-bottom 0.25em
  padding 0 0.5em
  background-color #f5f5f5
  border 1px solid rgba(0, 0, 0, 0.15)
  border-radius 2px

// animations

@keyframes slowfadein
  0%
    opacity 0
  80%
    opacity 0
  100%
    opacity 1

// highlight.js tweaks

code
  color #48484c
  font-family Consolas, 'Liberation Mono', Courier, monospace

pre.highlighted
  padding 0 !important

pre code
  padding 6px 10px
  font-size 13px
  line-height 19px
  background-color inherit
