a, a:link
  cursor pointer

p
  line-height 1.6em
  color #222

h1, h2, h3, h4, h5, h6
  color #222
  font-weight 200
  letter-spacing 1px

body
  padding-top 60px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px

section footer
  padding-bottom: 0

.hero-unit
  background-color #333
  color #eee !important
  border 2px solid #666

.hero-unit h1
  font-size 6em
  font-weight bold

.hero-unit .cujo
  color #eee
  text-shadow #06f 0 0 20px

.hero-unit .js
  color #666

.hero-unit p
  font-size 2em
  line-height 1.2em
  margin-top 0.2em

nav.linklist p
  margin 0

footer .copyright
  font-size 12px

footer .last-update
  font-style italic
  font-size 12px
  margin-top 10px

article.tutorial
  max-width 640px
  margin-left auto
  margin-right auto

article.tutorial .published
  float right
  text-align right
  font-size 12px

article.tutorial .published .date
  font-style italic

nav.tags ul
  display inline
  list-style none
  margin 0

nav.tags ul li
  display inline

nav.tags ul li:after
  content ', '

nav.tags ul li:last-child:after
  content ''

aside.lesson-plan
  float right
  max-width 40%
  margin-left 0.5em
  margin-bottom 0.25em
  padding 0 0.5em
  background-color #f5f5f5
  border 1px solid rgba(0, 0, 0, 0.15)
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px

// highlight.js tweaks

code
  color #48484c
  font-family Consolas, 'Liberation Mono', Courier, monospace

pre.highlighted
  padding 0 !important

pre code
  padding 6px 10px
  font-size 13px
  line-height 19px
  background-color inherit
