---
title: Tutorials
layout: page
pageOrder: 1
---

p Get up to speed with core cujoJS concepts quickly.
  | Each tutorial consists of discrete lessons that teach just what you need to know in order to be productive. You can jump in and out of tutorials, without reading them in sequence, although each one does build on concepts from earlier tutorials. If a concept is not familiar, go back and cover earlier material first.

each track in getFiles({ layout: 'lesson-plan' }, { order: 1 }).toJSON()
  h2= track.title
  != track.contentRenderedWithoutLayouts
  nav.linklist
    ol
      each lesson in getFiles({ layout: 'tutorial', url: { $startsWith: track.url } }, { order: 1 }).toJSON()
        li
          p
            a(href=lesson.url)= lesson.title
            if lesson.summary
              span= ' - ' + lesson.summary
