---
layout: 'page'
title: 'Modules Tutorials'
---

nav.linklist
  ul
    each tutorial in getFilesAtPath("./modules/", { order: 1 }).toJSON()
      li
        p
          span= formatDate(tutorial.date)
          |  &raquo;&nbsp;
          a(href=tutorial.url)= tutorial.title
          if tutorial.summary
            span= ' - ' + tutorial.summary
