---
title: Documentation
layout: page
pageOrder: 3
---

p Reference documentation is co-located and versioned with each project. Links are provided for convenience.

nav.linklist(style='font-family: Monaco, Menlo, Consolas, "Courier New", monospace')
  ol.unstyled
    each project, name in getFileAtPath('./_private/projects.html.jade').toJSON().projects
      li
        i(class='icon-' + name)
        | 
        strong= name
        | : 
        nav.linklist.tags(style='display: inline;')
          ul
            if project.latest
              li
                a(href=buildUrl(project.latest.docs || project.docs, { refspec: project.latest.refspec }), target='_blank')
                  =  project.latest.label || 'bleeding edge'
            if project.releases
              each release, version in project.releases
                li
                  a(href=buildUrl(release.docs || project.docs, { refspec: release.refspec }), target='_blank')= version
