---
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h1 Welcome to know cujoJS
  p: :markdown
    know cujoJS is your source for everything you need to learn about [cujoJS](http://cujojs.com), including getting started tutorials and sample applications.

// Example row of columns.
.row
  .span6
    h2 Tutorials
    p Our tutorials walk you through everything you need to know.  Starting with the fundamentals, you'll be a cujoJS expert in no time.
    p: a.btn(href="/tutorials") View Tutorials
  .span6
    h2 Sample Applications
    p Sample applications apply cujoJS concepts within a specific domain.
    p: a.btn(href="/samples") View Samples
