---
title: Sample Applications
layout: page
pageOrder: 2
---

section
  h3
    a(href='https://github.com/five-eleven/monty-hall-ui') Monty Hall
  p Demonstration app for SpringOne 2GX 2012 featuring the monty hall problem.  cujo.js is utilized for the front-end with a Spring MVC back-end.

section
  h3
    a(href='https://github.com/know-cujojs/circles') Circles
  p client-server messaging application

section
  h3
    a(href='https://github.com/know-cujojs/contacts') Contacts
  p A contacts rollodex style application

section
  h3
    a(href='https://github.com/cujojs/todomvc') Todo MVC
  p The canonical TodoMVC application implemented using cujo.js
