---
title: Samples
layout: page
pageOrder: 2
---

nav.linklist
  li
    strong Circles
    | 
    a(href='https://github.com/know-cujojs/circles', target='_blank') [GitHub]
    |  
    a(href='http://circles.demo.cujojs.com/', target='_blank') [Live]
    |  - 
    span.description client-server messaging application
  li
    strong Contacts
    | 
    a(href='https://github.com/know-cujojs/contacts', target='_blank') [GitHub]
    |  
    a(href='http://contacts.demo.cujojs.com/', target='_blank') [Live]
    |  - 
    span.description A contacts rollodex style application
  li
    strong cujoJS.com
    | 
    a(href='https://github.com/cujojs/cujojs.github.com', target='_blank') [GitHub]
    |  
    a(href='http://cujojs.com/#app-homepage', target='_blank') [Live]
    |  - 
    span.description The cujoJS homepage. It's an app, that embeds other cujoJS apps.
  li
    strong Hello
    | 
    a(href='https://github.com/know-cujojs/hello', target='_blank') [GitHub]
    |  
    a(href='http://cujojs.com/#app-hello', target='_blank') [Live]
    |  - 
    span.description A hello world application
  li
    strong Monty Hall
    | 
    a(href='https://github.com/know-cujojs/monty-hall', target='_blank') [GitHub]
    |  
    a(href='http://monty-hall.demo.cujojs.com/', target='_blank') [Live]
    |  - 
    span.description Demonstration app for SpringOne 2GX 2012 featuring the monty hall problem.  cujoJS is utilized for the front-end with a Spring MVC back-end.
  li
    strong Todo MVC
    | 
    a(href='https://github.com/cujojs/todomvc/tree/cujo/labs/architecture-examples/cujo', target='_blank') [GitHub]
    |  
    a(href='http://todomvc.com/labs/architecture-examples/cujo/index.html', target='_blank') [Live]
    |  - 
    span.description The canonical TodoMVC application implemented using cujoJS
