---
layout: 'lesson-plan'
title: 'Learning modules'
url: '/tutorials/modules'
order: 1
---

p Modules are the cornerstone of cujoJS. They allow you to divide your application into manageable chunks that can be shared and reused.
  | Just as importantly, you can consume modules that others have published.
p These tutorials cover module basics, including two popular module formats and how to load modules by their identifier.
