---
layout: 'lesson-plan'
title: 'Learning Modules'
url: '/tutorials/modules'
---

p Modules are the cornerstone of cujoJS. They allow you to divede your application into manageable chunks that can be shared and reused.
  | Just as importantly, you can consume modules that others have published.
p This lesson covers module basics, including two popular module formats and how to load modules by their identifier.
