---
layout: 'lesson-plan'
title: 'Learning Modules'
url: '/tutorials/modules'
---

p Modules are the corner stone of cujoJs, they allow us to dived our application into manageable chunks that can be shared and reused.
  | Just as importantly, we can consume modules others have published.
p This lesson covers module basics including two popular module formats and how to load modules by their identifier.
