---
layout: 'lesson-plan'
title: 'Learning AOP'
url: '/tutorials/aop'
order: 4
---

p Aspect Oriented Programming (AOP) is a technique for augmenting the behavior of objects, methods, and functions non-invasively. AOP allows you to add new behaviors and to combine and modify existing behaviors "from the outside".
