---
layout: default
---

h1 Pages tagged with '
  = document.tag
  | '

ul
  each doc in getCollection('documents').findAll({ tags: { $in: document.tag } }, { date: -1 }).toJSON()
    li
      span= formatDate(doc.date)
      |  &raquo;&nbsp;
      a(href=doc.url)= doc.title

a(href='/tags') All tags